<html lang="en">
  <head>
    <title> {{title}} </title>
     <link rel="icon" href="/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main">
    {{>header}}
    
    <img class="pImg" src="./-5764930170023688281_121.jpg" />

    </div>
    {{>footer}}
  </body>
</html>